.mat-elevation-z8 {
    width: 600px;
    text-align: center;
    margin-left: 400px;
    margin-top: 10px;
    background-color: aquamarine;
}

button {
    margin-left: 400px;
    margin-top: 60px;
}
.button {
    margin-left: 0px;
    margin-top: 5px;
}
mat-paginator {
    margin-right: 535px;
}
.action {
    margin-left: 10px;
}