input {
    border-radius: 20px;
    width: 300px;
    height: 40px;
}
.name {
    text-align: center;
    padding-top: 20px;
}
.log {
    text-align: center;
    padding-top: 10px;
}
.password {
    text-align: center;
    padding-top: 10px;
}
h3 {
    color: red;
    margin-top: 10px;
    text-align: center;
    
}
.login{
    text-align: center;
    margin-top: 25px;

}
.form{
    background-color:burlywood;
    width: 450px;
    margin-top: 200px;
    margin-left: 415px;
    border-radius: 10px;
    border: brown;
}
span {
    color: red;
}