<h1 *ngIf="user=='create'" style="text-align: center;">Add User</h1>
<h1 *ngIf="user!='create'" style="text-align: center;">Edit User</h1>
<form [formGroup]="createForm" appearance="fill">
    <input type="text" formControlName="name" placeholder="name"><br>
    <input type="text" formControlName="phoneNumber" placeholder="phoneNumber"><br>
    <input type="text" formControlName="address" placeholder="address"><br>
    <input type="text" formControlName="state" placeholder="state"><br>
    <input type="text" formControlName="city" placeholder="city"><br>
</form>
<button mat-stroked-button (click)="onCancel()">Cancel</button>
<button *ngIf="user=='create'" mat-raised-button color="primary" (click)="createUpdate()">Create</button>
<button *ngIf="user!='create'" mat-raised-button color="primary" (click)="createUpdate()">Update</button>