button{
    margin-top: 20px;
    margin-right: 2rem;
    border-radius: 20px;
    margin-left: 80px;
    
}

input {
border-radius: 20px;
width: 200px;
height: 40px;
margin-left: 100px;
margin-top: 20px;
}